<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @entry.item_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @entry.quantity %>
</p>

<p>
  <strong>Store name:</strong>
  <%= @entry.store_name %>
</p>

<p>
  <strong>Additional notes:</strong>
  <%= @entry.additional_notes %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
